* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #FAF3F3;
    font-family: 'Mulish', sans-serif;
    height: 100%;
}

.header {
    background-color: #DA7F8F;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 20px;
}

.header__img {
    width: 100px;
    margin-top: 0px;
    margin-left: 10px;
}

.main {
    margin: 40px;
}

.section__text {
    display: block;
    padding: 40px;
    width: 40%;
}

.section__square {
    display: flex;
    align-items: center;
}

.main__section {
    display: block;
    padding: 20px;
    flex-direction: row;
}

.main__section--title {
    display: inline-flex;
}

.main__section--item {
    border-radius: 20px;
    background-color: #E1E5EA;
    padding: 20px;
    width: 50%;
    height: 300px;
}

.main__section--item img {
    width: 60px;
    height: 60px;
    padding: 10px;
}

footer {
    background-color: #DA7F8F;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer ul {
    padding-right: 60px;
    list-style: none;
}

footer ul li a {
    color: #000000;
    text-decoration: none;
}

footer img {
    width: 20px;
}

@media (max-width: 768px) {
    .main__section {
        display: block;
    }

    .main__section--item {
        width: 100%;
        height: auto;
    }
    .section__text {
        display: block;
        width: 100%;
    }
    .section__square {
        display: block;
    }
}